<footer class="footer">
    <div class="links">
        <a href="https://www.facebook.com"><img src="assets/links/facebook.png" alt="Facebook" /></a>
        <a href="https://www.twitter.com"><img src="assets/links/twitter.png" alt="Twitter" /></a>
        <a href="https://www.instagram.com"><img src="assets/links/instagram.png" alt="Instagram" /></a>
    </div>
  
    <p class="footer-title">TOUS NOS CINEMA PARTENAIRES :</p>
  
    <div class="footer-columns">
      <div class="footer-column">
        <h4>PARIS</h4>
        <ul>
            <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Beaugrenelle' }">Beaugrenelle</a></li>
            <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Champs-Élysées' }">Champs-Élysées</a></li>
            <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'La Villette' }">La Villette</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>LYON</h4>
        <ul>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Vaise' }">Vaise</a></li>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Carré de Soie' }">Carré de Soie</a></li>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Bellecour' }">Bellecour</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>MARSEILLE</h4>
        <ul>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Madeleine' }">Madeleine</a></li>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Plan de campagne' }">Plan de campagne</a></li>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'La Joliette' }">La Joliette</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>NICE</h4>
        <ul>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Lingostière' }">Lingostière</a></li>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Masséna' }">Masséna</a></li>
          <li><a [routerLink]="['/map']" [queryParams]="{ cinema: 'Gare du Sud' }">Gare du Sud</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>HELP & SUPPORT</h4>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="https://www.facebook.com/about/privacy/previous">Politique de Confidentialité</a></li>
            <li><a href="https://www.facebook.com/terms/">Termes d'utilisation</a></li>
        </ul>
      </div>
    </div>
  
    <p class="copyright">© 2023 Copyright: Groupe 7</p>
</footer>
  