<nav class="navbar navbar-light navbar-expand bg-light ps-5">
    <a class="navbar-brand">{{ title | titlecase }}</a>
    <a class="nav-item nav-link" routerLink="/">Accueil</a>
    <a class="nav-item nav-link ms-3" routerLink="/movies">Gestion de films</a>
    <a class="nav-item nav-link ms-3" routerLink="/graphes">Graphes d'information de films</a>
    <a class="nav-item nav-link ms-3" routerLink="/graphes">Graphes d'information de films</a>
    
    <a class="nav-item nav-link ms-3" routerLink="/seance">Séances</a>
  
    <div class="ms-auto d-flex">
      <a class="nav-item nav-link ms-3" routerLink="/login">Connexion</a>
      <a class="nav-item nav-link ms-3" style="margin-right: 10px;" routerLink="/register">Inscription</a>
    </div>
</nav>
