<div class="container-fluid">
  <h1>Modification film</h1>
  <form class="d-flex flex-column w-50" [formGroup]="movieForm" (ngSubmit)="addMovie()">
    <label for="title">Titre</label>
    <input type="text" id="title" formControlName="title"/>
    <div *ngIf="movieForm.controls.title.invalid" class="text-danger">
      Le titre doit être en majuscules.
    </div>

    <label for="director">Réalisateur</label>
    <input type="text" id="director" formControlName="director"/>
    <div *ngIf="movieForm.controls['director'].invalid" class="text-danger">
      Le réalisateur doit être sous la forme "NOM Prénom".
    </div>

    <label for="releaseDate">Date de sortie</label>
    <input type="date" id="releaseDate"
           formControlName="releaseDate"
    />
    <div *ngIf="movieForm.controls['releaseDate'].invalid" class="text-danger">
      Le date de sortie doit être antérieure à aujourd'hui.
    </div>

    <label for="synopsis">Synopsis</label>
    <input type="text" id="synopsis" formControlName="synopsis"/>
    <div *ngIf="movieForm.controls['synopsis'].invalid" class="text-danger">
      Le synopsis doit faire au minimum 30 caractères.
    </div>

    <button class="btn btn-warning mt-3" type="submit" [disabled]="!movieForm.valid">
      {{ id ? 'Modifier' : 'Ajouter' }}
    </button>
  </form>
</div>
